body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.forms{
  display: block;
  height: 100%;
  margin-top: 20px;
  background-color: #00B7FF;
}
/* Таблицы */
.adminTable{
  border-collapse: collapse;
  /* width: 100%; */
  border: 2px solid grey;
}
td{
  border: 1px solid grey;
}

tr{
  border: 1px solid grey;
}
/* Кнопки */
