body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.forms{
  display: block;
  height: 100%;
  margin-top: 20px;
}
button{
  display:flexbox;
  align-items: center;
  justify-content: center;
  background-color:rgb(107, 180, 253);
  height: 30px;
  width: max-content;
  margin-right: 5px;
  color:floralwhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
}
button:hover{
  background-color:rgb(224, 237, 250);
  color:rgb(139, 194, 245);
  /* border: 2px solid rgb(139, 194, 245); */
}
button:active{
  background-color:rgb(243, 244, 245);
}
.addBtn {
  margin-top: 10px;
}
.tab_active{
  display:inline-block;
  background-color:rgb(107, 180, 253);
  height: 30px;
  width: max-content;
  margin-right: 5px;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color:floralwhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tab_inactive{
  display:inline-block;
  background-color:rgb(224, 237, 250);
  height: 30px;
  width: max-content;
  margin-right: 5px;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color:rgb(139, 194, 245);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table_inactive{
  display: none;
}
.table_active{
  display: block;
}
.table_active > table{
  margin-top: 50px;
  border: 2px solid rgb(139, 194, 245);
}